body {
    font-family: "Jost", sans-serif;
    background-color: #F9F7F0;
    margin: 0;
    padding: 0;
}

/* Navigation Bar */

nav {
    position: absolute;
    width: 100%;
}

nav ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style-type: none;
    margin: 4vh 13.5vh;
    padding: 0;
    font-size: 1.5em;
}

nav a {
    text-decoration: none;
    color: white;
}

.contact-link {
    position: relative;
}

.contact-link::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -2px;
    width: 100%;
    height: 3px;
    background-color: transparent;
    transition: background-color 0.2s ease;
}

.contact-link:hover::after {
    background-color: #587656;
}

/* Tagline */

.tagline {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("assets/homepage-background.png");
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100vh;
    font-size: 2.5em;
    color: white;
}

/* Section 1 */

section .container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
    gap: 10vh;
    margin: 16.5vh auto;
}

.container h2 {
    text-align: center;
    font-size: 2em;
    font-weight: 500;
    margin-top: 0;
    margin-bottom: 2.7vh;
}

/* Menu */

.menu {
    flex-flow: column;
    width: 53.5vh;
}

table {
    justify-content: center;
    border-collapse: collapse;
    width: 53.5vh;
}

tr > td:nth-child(1) {
    width: 30.2vh;
}

tr > td:nth-child(2) {
    width: 11vh;
    text-align: center;
}

tr > td:nth-child(3) {
    text-align: center;
}

table .sizes {
    font-size: 0.875;
    border-bottom: 1px solid black;
}

table td {
    font-size: 1.25em;
    padding: 1vh;
}

/* Location and Hours  */

.location-hours {
    display: grid;
    grid-template-columns: 1fr 0.3fr 0.6fr;
    width: 53.5vh;
}

.location-hours h2 {
    grid-column: span 3;
}

.location-hours ul, .location-hours p {
    list-style-type: none;
    font-size: 1.25em;
    padding: 0;
}

.location-hours .hours {
    text-align: right;
}

/* Footer */

footer .container {
    display: flex;
    justify-content: center;
    background-color: #2C3B2B;
    color:white;
}

footer ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style-type: none;
    width: 100%;
    margin: 0 13.5vh;
    padding: 5vh 0;
    font-size: 0.875em;
}

footer .contact {
    text-align: right;
}